<div id="<%= dom_id peopleitem %>">
  <p>
    <strong>People_id:</strong>
    <%= peopleitem.people_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= peopleitem.name %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= peopleitem.label %>
  </p>

  <p>
    <strong>Plate:</strong>
    <%= peopleitem.plate %>
  </p>

</div>
